button {
    min-width: 8rem;
    padding: .8rem 1.6rem;
    border-radius: 3px;
    background-color: #fdd84c;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border: 1px solid #fdd84c;
}

button:hover {
    border: 1px solid #ffbb12;
    background-color: #ffbb12;
}

button:active {
    background-color: #edaa03;
}

button:focus {
    border: 1px solid #edaa03;
    outline: none;
}