button {
    min-width: 8rem;
    padding: .8rem 1.6rem;
    border-radius: 3px;
    background-color: #fdd84c;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    display: inline-block;
}

button:hover, button:focus {
    background-color: #ffbb12;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #edaa03;
}