.form__title {
    font-size: 2.4rem;
    line-height: 1;
    padding: 0 0 2.4rem 1.6rem;
    font-weight: bold;
}

.form__error {
    padding: 8px 0 14px 16px;
    font-size: 10px;
    line-height: 1;
    color: red;
}