.personal-info-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 20rem max-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}

.personal-info-container .photo {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.personal-info-container .photo img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.experience-container {
    padding: 2rem;
}

.experience-container .experience-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}

.experience-container .projects-section {
    margin-top: 2rem;
}

.experience-container .projects-section ul {
    list-style: none;
}

.availability-container {
    padding: 2rem;
}

.availability-container .availability-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}

.availability-container .notes-section {
    margin-top: 2rem;
}

.buttons {
    margin: 2rem 0 0 2rem;
}