.personal-info-edit-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 20rem max-content 30rem;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    align-items: center;
}

.personal-info-edit-container .photo {
    grid-row: 1 / 7;
    grid-column: 1 / 2;
}

.experience-edit-container {
    padding: 2rem;
}

.experience-edit-container .experience-grid {
    display: grid;
    grid-template-columns: max-content 30rem;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    align-items: center;
}

.experience-edit-container .projects-section {
    margin-top: 2rem;
}

.availability-edit-container {
    padding: 2rem;
}

.availability-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}

.notes-section {
    margin-top: 2rem;
}