.app {
  max-width: 148rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 8rem;
}

.login-section {
  padding: 2rem;
}

.login-section button {
  width: 100%;
}

.intro-section {
  padding: 2rem;
  font-size: 2rem;
}