.app {
  max-width: 148rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 8rem;
}

.sidebar {
  background-color: #f0f0f0;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  border-right: 1px solid #f0f0f0;
}

.logout-section {
  margin-top: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-section > div {
  font-size: 2rem;
}

.logout-section > button {
  width: 15rem;
}

.login-section {
  margin-top: 10rem;
  padding: 2rem;
}

.login-section button {
  width: 100%;
}

.intro-section {
  padding: 2rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}