.app {
  position: relative;
  min-width: 64rem;
  max-width: 148rem;
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  position: fixed;
  min-width: 64rem;
  max-width: 148rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fafafa;
  height: 8rem;
}

.header h1 {
  grid-column: 2 / 5;
  padding-left: 5.6rem;
  align-self: center;
}

.sidebar {
  background-color: #fafafa;
  min-height: 100vh;
  grid-column: 1 / 2;
}

.content {
  padding: 10rem 2rem 2rem 2rem;
  min-height: 100vh;
  border-right: 1px solid #f0f0f0;
  grid-column: 2 / 5;
  display: flex;
}

main {
  flex: 1;
}

main.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__intro {
  margin-top: 16rem;
  padding: 2rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}

.sidebar__buttons {
  padding: 2rem;
  text-align: center;
}

.sidebar__buttons button:not(:last-child) {
  margin-right: 2.4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.ralign {
  text-align: right;
}
